In [1]:
import pandas as pd
from sqlalchemy import create_engine

<center><i><h1 style="background-color:black;color:orange">Total covid-19 vaccine doses administered In The US</h1></i></center>
<div style="background-color:LightSlateGray">
        <p style="color:white;font-size:150%;background-color:LightSlateGray">The data for this portion is collected by the Federal Housing Finance Agency and includes housing prce data from all states and territories in the United States. To amke the data more relevant and useable for this project, it was filtered to include data only for the state of Maryland. The column headers were also re-titled to be more descriptive. 
        </p>
</div>

In [3]:
#Create link to csv file and imports csv to dataframe
csv_file_hpi = "Resources/HPI_master.csv"
hpi_master_df = pd.read_csv(csv_file_hpi)
hpi_master_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.98,101.06
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.33,100.95
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.72,101.02
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.35,101.40

In [5]:
#Filters DF by state to get only MAryland results. Renames columns to be more descriptive.
md_hpi = hpi_master_df.loc[hpi_master_df['place_id'] == 'MD']
md_hpi_rename = md_hpi.rename(columns = {'place_name':'State',
                        'hpi_type':'Data Type',
                        'hpi_flavor':'Index Type',
                        'frequency':'Collection Frequency',
                        'level':'Level',
                        'place_name':'State',
                        'place_id':'State (abrv.)',
                        'yr': 'Year',
                        'period': 'Collection Period',
                        'index_nsa': 'Non-Seasonally Adjusted Index',
                        'index_sa':'Seasonally Adjusted Index'})

# Resets index
new_hpi = md_hpi_rename.reset_index(drop=True)
new_hpi.head()

,Data Type,Index Type,Collection Frequency,Level,State,State (abrv.),Year,Collection Period,Non-Seasonally Adjusted Index,Seasonally Adjusted Index
0,traditional,all-transactions,quarterly,State,Maryland,MD,1975,1,61.78,NaN
1,traditional,all-transactions,quarterly,State,Maryland,MD,1975,2,62.32,NaN
2,traditional,all-transactions,quarterly,State,Maryland,MD,1975,3,64.99,NaN
3,traditional,all-transactions,quarterly,State,Maryland,MD,1975,4,66.61,NaN
4,traditional,all-transactions,quarterly,State,Maryland,MD,1976,1,66.92,NaN

In [6]:
#Create link to csv file and imports csv to dataframe
csv_file_grant = "Resources/grant_data.csv"
grant_data_df = pd.read_csv(csv_file_grant)
grant_data_df.head()

,Fiscal Year,Awardee,Project Name,Award,City,County
0,2019,County Commissioners of Carroll County,CHANGE Roof Replacement,90000.0,Westminster,Carroll
1,2019,County Commissioners of Garrett County,Parkwood Village,750000.0,Oakland,Garrett
2,2019,Town of Betterton,Wheeler Avenue,800000.0,Betterton,Kent
3,2019,County Commissioners of Allegany County,Locust Grove Sewage,800000.0,Cumberland,Allegany
4,2019,"Wicomico County, Maryland",Downpayment Assistance,300000.0,Salisbury,Wicomico

In [8]:
# Removes unnecessary columns
modified_df = grant_data_df[['Fiscal Year', 'Awardee', 'City', 'County']]
modified_df.head()

   Fiscal Year                                  Awardee         City    County
0         2019   County Commissioners of Carroll County  Westminster   Carroll
1         2019   County Commissioners of Garrett County      Oakland   Garrett
2         2019                        Town of Betterton    Betterton      Kent
3         2019  County Commissioners of Allegany County   Cumberland  Allegany
4         2019                Wicomico County, Maryland    Salisbury  Wicomico